.container-not-found {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-not-found h1 {
  color: #fff;
}

.container-not-found a {
  text-decoration: none;

  color: #4c89e3;
  font-size: 1.5rem;
  transition: all 0.5s;
}

.container-not-found a:hover {
  text-decoration: underline;
  color: #1965d6;
}
